@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.total {
  padding: 10px 2%;
}

.flex-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  width: 50px;
  background: transparent;
  outline: none;
  border: none;
  height: 20px;
  width: 3rem;
  font-size: 1.5rem;
}
.nav-bar,
.log-in {
  display: none;
}

.pb-logo {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
  margin-top: 0.5rem;
}

@media (min-width: 40rem) {
  .pb-logo {
    width: 70px;
    height: auto;
    transition: transform 0.3s ease;
    margin-top: 0.5rem;
  }
  .total {
    padding: 10px 5%;
  }
  header {
    display: flex;
    justify-content: center;
  }
  .flex-toggle {
    width: 100%;
    font-family: "Momo Trust Display", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-bar .nav-link {
    text-decoration: none;
    color: black;
    font-family: "roboto", serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0 15px;
    transition: color 0.3s ease;
  }
  .nav-bar .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 500px;
    align-items: center;
  }
  .nav-bar .nav-links a {
    text-decoration: none;
    color: #9e5b65;
  }
  .nav-bar .nav-links a:hover {
    color: #ffb3c6;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #4d333a;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .log-in-btn {
    color: white;
    background-color: #f58697;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    font-family: "roboto", serif;
    font-weight: 600;
    transition: background-color 0.3s ease;
  }
  .log-in-btn:hover {
    background-color: #7a3e45;
  }
  .nav-bar,
  .log-in {
    display: block;
    /* display: flex;
    justify-content: space-between; */
    align-items: center;
  }
  .fa-bars {
    display: none;
  }
  .background-pb {
    width: 100%;
    background-repeat: repeat-x;
  }
  .background-pb h1 {
    font-family: "Roboto", monospace;
    text-align: center;
  }
  .background-pb p {
    font-family: "Nunito", monospace;

    text-align: center;
  }
}
@media (min-width: 50rem) {
  .nav-bar .nav-links {
    width: 600px;
  }
}
@media (min-width: 60rem) {
  .nav-bar .nav-links {
    width: 700px;
  }
}
@media (min-width: 70rem) {
  .nav-bar .nav-links {
    width: 800px;
  }
}
.backDrop {
  height: 100vh;
  width: 100%;
  background-color: #aaaaaa60;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 3.5rem;
  padding-left: 1rem;
  padding-bottom: 4rem;
  transition: 0.5s linear ease-in-out;
  z-index: 1;
  /* opacity: 0; */
  filter: blur(2px);
  display: none;
}
/* .hide {
  opacity: 1;
  filter: blur(0px);
  display: block;
} */
.hide-backdrop {
  height: 100vh;
  background-color: #aaa;
  position: fixed;
  top: 4.7rem;
  left: 0;
  font-size: 2rem;
  padding-left: 1rem;
  padding-bottom: 4rem;
  transition: 0.5s linear ease-in-out;
  z-index: 1;
  display: none;
}
.hide-backdrop .hide-links a {
  text-decoration: none;
  color: black;
  padding: 2rem;
  display: flex;
  transition: all 0.3s ease;
}
.hide-backdrop .hide-links a:hover {
  text-decoration: underline;
  cursor: pointer;
}
