.contact-container {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;

  background-color: black;
  color: wheat;
  padding: 2rem 0;
  animation: contact 5s linear infinite;
}
.contact-container .back {
  text-align: left;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.contact-container .back li {
  list-style: none;
}
.contact-container .back li a {
  text-decoration: none;
  color: pink;
}
@keyframes contact {
  0% {
    color: #f7f0e4;
  }
  50% {
    color: #ff9aabe7;
  }
  100% {
    color: #b3f5b9;
  }
}
form {
  max-width: 400px;
  margin: 16px auto;
  padding: 0.5rem;
  background-color: black;
  color: white;
}

label,
input,
textarea {
  display: block;
  text-align: left;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
input {
  padding: 1rem;
  outline: none;
  background-color: pink;
  border: none;
}
label {
  padding: 0.2rem;
  font-weight: 700;
}
textarea {
  padding: 0.5rem;
  background-color: white;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
}
button {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  font-weight: 700;
  background-color: pink;
  border: none;
}
