.ourservice-container {
  text-align: center;

  padding: 0.5rem;
  max-width: 800px;
  margin: 16px auto;
  overflow: hidden;
}
.our-service {
  font-family: "Nunito", monospace;
  font-size: 1rem;
  color: white;
  font-style: italic;
  padding: 1rem;
  background: linear-gradient(green, #df7a86);
}
.our-service h1::first-letter {
  font-size: 5rem;
  font-weight: 700;
  border-top: 10px solid black;
  color: red;
}
.all-service {
  overflow: hidden;
  display: block;
}
select {
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
  display: inline;
  /* background-color: #7a3e45; */
  /* color: white; */
  margin-top: 1rem;
  width: 100%;
}
